<div class="message">
  <%if(error && error!=""){%>
  <div class="alert alert-danger"><%=error%></div>
  <%}else if(success && success!=""){%>
  <div class="alert alert-success"><%=success%></div>
  <%}%>
</div>
