<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a href="/" class="navbar-brand">تعمیرگاه پیمان</a>
    <button
        class="navbar-toggler"
        data-target="#my-nav"
        data-toggle="collapse"
        aria-controls="my-nav"
        aria-expanded="false"
        aria-label="Toggle navigation"
        >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="my-nav" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#"
                    >خدمات</a
                >
            </li>
                    <li class="nav-item">
                        <a
                            class="nav-link "
                            href="#"
                            tabindex="-1"
                            aria-disabled="true"
                            >محصولات</a
                        >
                        <li class="nav-item">
                            <a
                                class="nav-link "
                                href="#"
                                tabindex="-1"
                                aria-disabled="true"
                                >اخبار تکنولوژی</a
                            >
                        </li>
                                <li class="nav-item">
                                    <a
                                        class="nav-link"
                                        href="/login"
                                        tabindex="-1"
                                        aria-disabled="true"
                                        > ورود</a
                                    >
                                </li>
        </ul>
    </div>
</nav>
