<%- include('./partials/header.ejs') -%> <%- include('./partials/navbar.ejs')
-%> <%- include('./partials/message.ejs') -%>
<div class="container" id="login-box">
  <form class="row-cols-1" action="/register" method="POST" class="row">
    <input
      dir="ltr"
      name="username"
      class="form-control col my-2"
      type="text"
      placeholder="نام کاربری خود را وارد نمایید"
    />
    <input
      dir="ltr"
      name="name"
      class="form-control col my-2"
      type="text"
      placeholder="نام خانوادگی خود را وارد نمایید"
    />
    <input
      dir="ltr"
      name="email"
      class="form-control col my-2"
      type="email"
      placeholder="ایمیل خود را وارد نمایید"
    />
    <input
      name="password"
      dir="ltr"
      class="form-control col my-2"
      type="password"
      placeholder="پسورد خود را وارد نمایید"
    />
    <input
      name="confirmPassword"
      dir="ltr"
      class="form-control col my-2"
      type="password"
      placeholder="پسورد خود را تایید نمایید"
    />
    <button type="submit" class="col btn btn-success sign-button">
      ثبت نام
    </button>
  </form>
</div>
<%- include('./partials/footer.ejs') -%>
